/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;700&display=swap');

/* common styles */

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* header  */
.navbar{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.logo{
    font-size: 24px;
    font-weight: 700;
    color: #3A3A3A;
    margin: 20px 120px;
}

.links li{
    list-style: none;
    display: inline-block;
}
.links ul li a{
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    display: block;
}
.links li::after{
    display:block;
    content: '';
    border-bottom: solid 3px #E02C6D;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.links li:hover::after{
    transform: scaleX(.9);
}

.top-icons{
    margin-right: 100px;
}
.links, .top-icons{
    margin-left: auto;
}
.h6,.w-6{
    height: 25px;
    width: 25px;
}

/*---------- 
       hero
-------------*/
main.hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -200px;
}
.hero-left{
    margin: 0 120px;
}
h1.hero-title {
    font-size: 52px;
    color: #3A3A3A;
}
.hero-left p{
    font-size: 16px;
}
.hero-btn button{
    background-color: #E02C6D;
    border: none;
    color: white;
    height: 44px;
    width: 196px;
    padding: 10px 24px;
    border-radius: 41px;
    font-size: 16px;
    font-weight: 700;
}

.btn-arrow{
    margin-left: 6px;
    margin-top: 5px;
    color: #ffffff;
}

img.hero-img-1 {
    position: relative;
    transform: translate(10px, 250px);
    z-index: -1;
}
img.hero-img-2 {
    position: relative;
    transform: translate(10px, -207px);
}

/*----------------
    advertise
-------------------*/
.advertise{
    text-align: center;
}
.advertise img{
    margin-right: 60px;
}

hr{
    width: 1110px;
    border-color: #c0ccda1a;;
    border-width: 1px;
    
}

/*-------------------
popular collection
---------------------*/
.collection-title{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: #3A3A3A;
    margin: 70px 0;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.collection{
    width:329px;
    height: 446px;
    border-radius: 5px;
    box-shadow: 10px 10px 20px lightgray;
    padding: 17px 15px;
    margin: 15px;
}
.thumbnail{
    height: 256px;
    width: 300px;
    margin: 0 auto;
}
.collection-desc{
    margin-left: 15px;
}
.collection-name{
    color: #18191F;
    font-size: 28px;
    margin-top: 16px;
    margin-bottom: 6px;
}
.collection-price{
    font-size: 24px;
    margin-top: 0;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
}
.ratings{
    display: flex;
    align-items: center;
    margin-top: -62px;
    margin-bottom: -22px;
}
.ratings .fas{
    color: #ffa600d7;
    font-size: 14px;
}
.ratings p{
    font-size: 14px;
    font-weight: 700;
    color: #5E6366;
    margin-left: 8px;
}
.collection-delivery{
    font-size: 14px;
    color: #787885;
    font-family: 'Inter';
    line-height: 19px;
}
.see-more{
    color: #e02c6dde;
    text-decoration: none;
    font-size: 16px;
    float:right;
    position: relative;
    margin: 30px;
}
/*---------------
deals and outlet
-------------- */
.deals{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.deals-products{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 340px;
  padding: 20px;
  margin: 0 20px;
}
.deals-products h3{
    color: #ef837b;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.1;
    margin-bottom: 20px;
}
.sub-title{
    color: #777;
    font-size: 10px;
    margin-bottom: 10px;
}
.deals-products a{
    text-decoration: none;
    color: #5e5e5e;
    font-weight: 500;
    font-size: 20px;
}
.deals-products p{
    color: #E02C6D;
    font-size: 24px;
}
.deals-products p span{
    text-decoration: line-through;
}
/*---------------
      footer
----------------*/
footer{
    text-align: center;
    background-color:#0a0826 ;
    margin-top: 100px;
    padding: 10px 0;
    width: 100%;

}
footer h4{
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 12px;
}
footer p{
    font-size: 14px;
    color: #ffffff;
}
footer .fab{
    color: #ffffff;
    background-color: #e6e6e61a;
    padding: 7px;
    border-radius: 50%;
    margin: 0 4px;
}

/* ----------------------
make it responsive-mobile
--------------------- */
@media screen and (max-width: 576px){
    
    .navbar{
        display: flex;
        justify-content: space-between;
        /* width: 100%; */
    }
    .logo{
        padding: 0;
        margin: 0 10px;
    }
    .links{
        display: none;
    }
    .links a{
        padding: 0;
        margin: 0;
        display: none;
    }
    .top-icons{
        margin: 0 10px;
        padding: 0;
    }

    main.hero{
        display: flex;
        flex-direction: column;
        margin: 120px 0;
        width: 100%;
        align-items: center;
        flex-wrap: nowrap;
        overflow-x: hidden;
    }
    .hero-left{
        order:1;
        transform: translate(12%,-280px);
    }
    .hero-right{
        transform: translate(2%,-200px);
    }
    /* .hero-img-2,.hero-img-1{

        width: 100%;
        height: auto;
        width: 380px;
        height: 380px; 
    } */

    .advertise{
        display: flex;
        flex-wrap: wrap;
        margin-top: -240px;
    }
    .advertise img{
        margin: 10px;
    }
   
    .collections{
        grid-template-columns: 1fr;
    }
    .deals{
        grid-template-columns: 1fr;
        margin-bottom: 20px;
    }
   .deals-products{
       margin-bottom: 20px;
   }
}
/* responsive for tablet */

@media screen and (min-width:577px) and (max-width:768px){

    .navbar{
        display: flex;
        justify-content: center;
    }
    .logo{
        padding: 0;
        margin: 0 10px;
    }
    .links{
        display: none;
    }
    .links a{
        padding: 0;
        margin: 0;
        display: none;
    }
    .top-icons{
        margin: 0 10px;
        padding: 0;
    }

    main.hero{
        display: flex;
        justify-content: center;
        margin-top: 200px;
        align-items: center;
    }
    .hero-left{
        transform: translate(12%,-280px);
    }
    .hero-right{
        transform: translate(2%,-200px);
    }

    .advertise{
        display: flex;
        flex-wrap: wrap;
        margin-top: -240px;
    }
    .advertise img{
        margin: 10px;
    }
   .collections{
       grid-template-columns: repeat(2,1fr);
   }
   .deals{
       width: 100vw;
       grid-template-columns: 1fr;
   }
   .deals-products{
       margin-bottom: 20px;
       width: 100%;
   }
  
}